doctype html("-//W3C//DTD XHTML 1.0 Transitional//EN","http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd")
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title Gulp Tool 
    link(rel="shortcut icon",type="image/x-icon",href="images/favicon/favicon.ico")
    link(rel="apple-touch-icon",href="images/favicon/touch-icon.png")
    link(rel="stylesheet", href="css/browser.css ")
  body
    div.alert-box
      h5 哎呀！看起來你的網頁瀏覽器已經過時了～
      p 
      | 也許你不知道，但你使用的是過時版本的Internet Explorer。
      | 請升級您的瀏覽器到最新版本。您也可以使用我們推薦的其他瀏覽器。
      p
      | 我們強烈建議您使用支援的瀏覽器以獲得最佳性能：
      | 以下為推薦的瀏覽器：
      ul.browser-list.no-bullet
        li
          a(href="http://www.microsoft.com/en-us/download/internet-explorer.aspx",target="_blank")
            img(src="images/browser/internet-explorer.png",alt="IE",border="0")
        li 
          a(href="https://www.google.com/intl/en/chrome/browser/desktop/",target="_blank")
            img(src="images/browser/chrome.png",alt="Chrome",border="0")
        li
          a(href="https://www.mozilla.org/en-US/firefox/new/",target="_blank")
            img(src="images/browser/firefox.png",alt="Firefox",border="0")
        li
          a(href="http://www.apple.com/safari/",target="_blank")
            img(src="images/browser/safari.png",alt="Safari",border="0")
