extends _layout
block page_title
  title Index | 首頁
block style
  link(rel="stylesheet", href="css/index.min.css")
block script
  script(type="text/javascript" src="js/index.min.js")
  script(type="text/javascript").
    $(document).ready(function () {
      
    });
block content
  .main-wrap
    img(src="images/index/gulp-demo.png", alt="")
    h2 Main Block